/* Generic Selectors */

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: blue;		
	background-color:pink;
	margin: 5%, 20%, 15%;
	/*margin: 0 0 0 0; top right bottom left*/	
}

p {
	width: 80%;
}

li {
	list-style-type: none;
	line-height: 150%;
	
}


h1 {

	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	margin: 15%;
	text-decoration:underline;
}

h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	border-bottom: 1px solid #C6EC8C;
}



/*************************  ID's *************************/

#navigation {
	position: absolute;
	
	width: 210px;
	height: 600px;	
	margin-top: 0px;
	border-right: 1px solid #C6EC8C;
	font-weight: normal;
}


